*{
  padding:0px;
  margin: 0px;
 }
@font-face
{
	font-family: "Komika";
	src: url("fuentes/KomikaTitle-webfont.eot");
	src: url("fuentes/KomikaTitle-webfont.eot?#iefix") format("embedded-opentype"),
		 url("fuentes/KomikaTitle-webfont.woff") format("woff"),
		 url("fuentes/KomikaTitle-webfont.ttf") format("truetype"),
		 url("fuentes/KomikaTitle-webfont.svg#KomikaTitleRegular") format("svg");
}
article, footer, header, section
{
	display: block;
}
body
{
	background: rgba(102, 101, 101, 0.19);
	font-family: "Open Sans", Arial;
	font-size: 16px;
	margin: 0;
	text-align: center;
}
footer, header, section
{
	background: white;
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0, 0.5) 0px 5px 10px;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	margin: 1em auto;
	padding: 1em;
	width: 90%;
}
header
{
	background: url("Logo.png") no-repeat 10px center;/*,url("zacate.jpg")*/ 
	color: black;
}
ul,ol{
  list-style:none;
}
ul.nav {
	margin: -8px 0px 0px 0px;
	padding: 0px;
}
 .nav li a{
      /*background-color:#000;*/
      color:#FE9A2E;
      text-decoration:none;
      padding:0px 15px;
      margin: 0px 10px 0px 0px;
      display: block;
 }
 .nav li a:hover{
    background-color: white;
    -webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 99px;
	-webkit-border-bottom-right-radius: 99px;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 99px;
	-moz-border-radius-bottomright: 99px;
	border-radius: 5px;
	border-top-left-radius: 99px;
	border-bottom-right-radius: 99px;

 }
 .nav > li {
      float: left;
 }
 .nav li ul{
      background-color:#123D88;
      display: none;
      position: absolute;
      min-width:auto;
      top:auto;
      padding: 0;
 }
 .nav li:hover > ul{
 	color: #123D88;
    display:block;
    -webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 40px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 40px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 40px;
 }
 .nav li ul li{
      position: relative;
 }
 .nav li ul li ul{
    right: -68px;
	top: 0px;
 }
#container{
	background: #123D88;
	box-shadow: black 0px 5px 30px inset;
}
#navContainer{
	background: url("../../images/Logo.gif")  no-repeat right;
	background-color: white;
}
.outputText{
	color: #1A4796;
}
.inputText{
	 -webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 20px;
}
.selectOneMenu{
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.headerStyle{
	text-transform: uppercase;
	font-size: 12px;
}
.dataTable{
	border-spacing: 0;
}
.odd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #7F8485;
	background-color: #E5E6E7;
	font-weight: bold;
}
.even {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #7F8485;
	background-color: #fdfdfd;
	font-weight: bold;
}
.pad-right{
	padding-right: 15px;
}

.commandLink{
	text-decoration: none;
	color:#FE9A2E;
}
.commandLink:hover{
	text-decoration: pointer;
	color:#123D88;
}
.commandButton{
	padding: 2px 5px 2px 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.warn{
	color: yellowgreen;
}
.error{
	color: red;
}
.info{
	color: blue;
}