<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ShiatsuWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- CONTEXT -->
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/dataAccessContext.xml
			/WEB-INF/applicationContext.xml
		</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
  <!-- FILTROS -->	
	<filter>
		<description>Filtro para transacciones Hibernate</description>
		<display-name>HibernateFilter</display-name>
		<filter-name>HibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<description>session manager</description>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>shiatsuSF</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
		<init-param>
			<param-name>maxFileSize</param-name>
			<param-value>5m</param-value>
		</init-param>
	</filter>
  
  <!-- MAPING FILTROS -->
	
	<filter-mapping>
		<filter-name>HibernateFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
	</filter-mapping>
	<!-- LISTENERS -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  <!-- SERVLETS -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
		<servlet-name>Jenia internal servlet</servlet-name>
		<servlet-class>org.jenia.faces.util.Servlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<!-- SERVLETS MAPINGS-->
  <servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Jenia internal servlet</servlet-name>
		<url-pattern>/jenia4faces/*</url-pattern>
	</servlet-mapping>
 
 <!-- JNDI  -->
	
	<resource-ref>
		<description>
			Referencia al recurso de conexion
		</description>
		<res-ref-name>jdbc/mySqlShiatsuDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
 
 
 
 
 
 
 
 
 
 
 
 
 
</web-app>